<form method="get" action="/movies">
  <select name="Order">
    <option value="rating">Rating</option>
    <option value="title">Title</option>
    <option value="year">Year</option>
  </select>
  <input type="submit" />
</form>

<div class="text-center">
  <h3>Movies Page</h3>
</div>

<table class="hover">
  <thead>
    <th>Movie</th>
    <th>Year</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Studio</th>
  </thead>
  <tbody>
    <% @movies.each_row do |id, movie_name, movie_year, movie_rating, genre, studio| %>
  <!-- <div class="small-12 medium-12 columns"> -->
    <!-- <div class="callout secondary"> -->
      <tr>
        <td><a href="/movies/<%= id %>"><%= movie_name %></a></td>
        <td><%= movie_year %></td>
        <td><%= movie_rating %></td>
        <td><%= genre %></td>
        <td><%= studio %></td>
      </tr>
    <% end %>
  <!-- </div> -->
  </tbody>
</table>
